# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
venv/
*.egg-info/

# Node/TypeScript
node_modules/
dist/
*.log

# Go
bin/
cover.out

# Data/Models
/data/raw/
/data/tmp/
models/
checkpoints/

# IDE
.vscode/
.idea/
.DS_Store

# Docker/CI
*.iml
.env.*
coverage/

# Terraform
*.tfstate*
.terraform/

# Logs
logs/
*.bak

# Misc
Thumbs.db
